{
  "openapi": "3.0.1",
  "info": {
    "title": "Bohr OGC API - Features",
    "version": "v1.0"
  },
  "servers": [
    {
      "url": "https://api.bohr.uk"
    }
  ],
  "tags": [
    {
      "name": "Collections",
      "description": "Retrieve information about collections"
    },
    {
      "name": "Landing Page",
      "description": "Bohr OGC API - Features Landing Page"
    },
    {
      "name": "Features",
      "description": "Retrieve features"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "tags": [
          "Landing Page"
        ],
        "summary": "Bohr OGC API - Features landing page",
        "operationId": "getLandingPageResponse",
        "responses": {
          "200": {
            "description": "Bohr OGC API - Features landing page.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LandingPageResponse"
                }
              }
            }
          },
          "400": {
            "description": "The server cannot or will not process the request due to an apparent client error. See error response for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/conformance": {
      "get": {
        "tags": [
          "Landing Page"
        ],
        "summary": "Bohr OGC API - Features conformance page",
        "operationId": "getConformanceResponse",
        "responses": {
          "200": {
            "description": "Bohr OGC API API - Features conformance page.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConformanceResponse"
                }
              }
            }
          },
          "400": {
            "description": "The server cannot or will not process the request due to an apparent client error. See error response for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/collections": {
      "get": {
        "tags": [
          "Collections"
        ],
        "summary": "Get list of all Bohr OGC API feature collections",
        "description": "Get a list of all the available Bohr OGC API feature collections",
        "operationId": "getAllCollections",
        "responses": {
          "200": {
            "description": "All Bohr OGC API feature collections.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionsResponse"
                }
              }
            }
          },
          "400": {
            "description": "The server cannot or will not process the request due to an apparent client error. See error response for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/collections/{collectionId}": {
      "get": {
        "tags": [
          "Collections"
        ],
        "summary": "Get a single Bohr OGC API feature collection",
        "description": "Get information about an Bohr OGC API feature collection",
        "operationId": "getCollectionById",
        "parameters": [
          {
            "name": "collectionId",
            "in": "path",
            "description": "A known collection ID.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "my-collection"
          }
        ],
        "responses": {
          "200": {
            "description": "A single Bohr OGC API feature collection.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionResponse"
                }
              }
            }
          },
          "400": {
            "description": "The server cannot or will not process the request due to an apparent client error. See error response for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Collection '{collectionId}' is not a supported Collection. Please refer to the documentation for a list of supported Collections.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/collections/{collectionId}/schema": {
      "get": {
        "tags": [
          "Collections"
        ],
        "summary": "Get schema for a single Bohr OGC API feature collection",
        "operationId": "getSchema",
        "parameters": [
          {
            "name": "collectionId",
            "in": "path",
            "description": "A known collection ID.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "my-collection"
          }
        ],
        "responses": {
          "200": {
            "description": "Schema for an Bohr OGC API feature collection.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "400": {
            "description": "The server cannot or will not process the request due to an apparent client error. See error response for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Collection '{collectionId}' is not a supported Collection. Please refer to the documentation for a list of supported Collections.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/collections/{collectionId}/queryables": {
      "get": {
        "tags": [
          "Collections"
        ],
        "summary": "Get a list of queryable attributes for this feature collection",
        "operationId": "getCollectionQueryables",
        "parameters": [
          {
            "name": "collectionId",
            "in": "path",
            "description": "A known collection ID.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "my-collection"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of queryable attributes and their types for this feature collection.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryablesResponse"
                }
              }
            }
          },
          "400": {
            "description": "The server cannot or will not process the request due to an apparent client error. See error response for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Collection '{collectionId}' is not a supported Collection. Please refer to the documentation for a list of supported Collections.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/collections/{collectionId}/items": {
      "get": {
        "security": [
          {
            "api-key": [],
            "api-key-header": [],
            "oauth2": []
          }
        ],
        "tags": [
          "Features"
        ],
        "summary": "Retrieve features in the feature collection",
        "operationId": "getItems",
        "parameters": [
          {
            "name": "collectionId",
            "in": "path",
            "description": "A known collection ID.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "my-collection"
          },
          {
            "name": "bbox",
            "in": "query",
            "description": "The optional bbox parameter specifies a supported bounding box. Only features that have a geometry that intersects the bounding box are selected. The bounding box is provided as four comma-separated numbers:  <ul><li>Lower left corner, coordinate axis 1 (e.g. min x axis)</li><li> Lower left corner, coordinate axis 2 (e.g. min y axis)</li><li> Upper right corner, coordinate axis 1 (e.g. max x axis)</li><li> Upper right corner, coordinate axis 2 (e.g. max y axis)</li></ul>The default coordinate reference system of the values is WGS 84 longitude/latitude (http://www.opengis.net/def/crs/OGC/1.3/CRS84) unless a different coordinate reference system is specified in the parameter `bbox-crs`.",
            "style": "form",
            "explode": false,
            "schema": {
              "maxItems": 6,
              "minItems": 4,
              "type": "array",
              "items": {
                "type": "number"
              }
            },
            "example": [
              -0.183678,
              51.474968,
              -0.068321,
              51.540143
            ]
          },
          {
            "name": "bbox-crs",
            "in": "query",
            "description": "The coordinate reference system of the `bbox` parameter. It must be a 2D coordinate reference system supported by the collection. Default is WGS84 longitude/latitude (http://www.opengis.net/def/crs/OGC/1.3/CRS84).",
            "schema": {
              "type": "string",
              "enum": [
                "http://www.opengis.net/def/crs/OGC/1.3/CRS84"
              ]
            }
          },
          {
            "name": "crs",
            "in": "query",
            "description": "The coordinate reference system of the response geometries. It must be a coordinate reference system supported by the collection. Default is WGS84 longitude/latitude (http://www.opengis.net/def/crs/OGC/1.3/CRS84).",
            "schema": {
              "type": "string",
              "enum": [
                "http://www.opengis.net/def/crs/OGC/1.3/CRS84"
              ]
            }
          },
          {
            "name": "datetime",
            "in": "query",
            "description": "Either a local date, a date-time with UTC time zone (Z) or an open or closed interval. Open ranges in time intervals at the start or end are supported using a double-dot (..) or an empty string for the start/end. Date and time expressions adhere to RFC 3339. Examples:<ul><li>A date-time: '2021-12-12T23:20:50Z'</li><li>A closed interval: '2021-12-12T00:00:00Z/2021-12-18T12:31:12Z'</li><li>Open intervals: '2021-12-12T00:00:00Z/..' or '../2021-12-18T12:31:12Z'</li><li>An interval until now: '2018-02-12T00:00:00Z/..' or '2018-02-12T00:00:00Z/'</li></ul>Selects features that have a temporal property that intersects the value of the parameter.",
            "style": "form",
            "schema": {
              "type": "string"
            },
            "example": "2018-02-12T00:00:00Z/.."
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The optional limit parameter limits the number of items that are presented in the response document. Minimum = 1. Maximum = 100. Default = 100.",
            "style": "form",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The optional offset parameter skips past the specified number of features in the collection. Minimum = 0. Default = 0.",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "The optional filter parameter is a filter expression in CQL format which is applied when retrieving resources to determine which resources are included in a result set.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of features in a feature collection.",
            "content": {
              "application/geo+json": {
                "schema": {
                  "$ref": "#/components/schemas/FeatureCollectionResponse"
                }
              }
            }
          },
          "400": {
            "description": "The server cannot or will not process the request due to an apparent client error. See error response for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Collection '{collectionId}' is not a supported Collection. Please refer to the documentation for a list of supported Collections.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/collections/{collectionId}/items/{itemId}": {
      "get": {
        "security": [
          {
            "api-key": [],
            "api-key-header": [],
            "oauth2": []
          }
        ],
        "tags": [
          "Features"
        ],
        "summary": "Retrieve a feature from the feature collection",
        "operationId": "getItemById",
        "parameters": [
          {
            "name": "collectionId",
            "in": "path",
            "description": "A known collection ID.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "my-collection"
          },
          {
            "name": "itemId",
            "in": "path",
            "description": "A feature ID which is the identifier(id) for the feature.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "00000000-0000-0000-0000-000000000000"
          },
          {
            "name": "crs",
            "in": "query",
            "description": "The coordinate reference system of the response geometries. It must be a coordinate reference system supported by the collection. Default is WGS84 longitude/latitude (http://www.opengis.net/def/crs/OGC/1.3/CRS84).",
            "schema": {
              "type": "string",
              "enum": [
                "http://www.opengis.net/def/crs/OGC/1.3/CRS84"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A single feature in the feature collection.",
            "content": {
              "application/geo+json": {
                "schema": {
                  "$ref": "#/components/schemas/Feature"
                }
              }
            }
          },
          "400": {
            "description": "The server cannot or will not process the request due to an apparent client error. See error response for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "The feature collection '{collectionId}' or feature with id:'{itemId}' could not be found. Please check it is a supported collection or feature.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/collections/{collectionId}/items/{itemId}/ts": {
      "get": {
        "security": [
          {
            "api-key": [],
            "api-key-header": [],
            "oauth2": []
          }
        ],
        "tags": [
          "Features"
        ],
        "summary": "Retrieve timeseries data for a feature from the feature collection",
        "operationId": "getItemTsById",
        "parameters": [
          {
            "name": "collectionId",
            "in": "path",
            "description": "A known collection ID.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "my-collection"
          },
          {
            "name": "itemId",
            "in": "path",
            "description": "A feature ID which is the identifier(id) for the feature.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "00000000-0000-0000-0000-000000000000"
          },
          {
            "name": "crs",
            "in": "query",
            "description": "The coordinate reference system of the response geometries. It must be a coordinate reference system supported by the collection. Default is WGS84 longitude/latitude (http://www.opengis.net/def/crs/OGC/1.3/CRS84).",
            "schema": {
              "type": "string",
              "enum": [
                "http://www.opengis.net/def/crs/OGC/1.3/CRS84"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A single feature in the feature collection.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeseriesCollectionResponse"
                }
              }
            }
          },
          "400": {
            "description": "The server cannot or will not process the request due to an apparent client error. See error response for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "The feature collection '{collectionId}', feature with id:'{itemId}' or no timeseries data could not be found. Please check it is a supported collection or feature.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "api-key": {
        "type": "apiKey",
        "name": "key",
        "in": "query"
      },
      "api-key-header": {
        "type": "apiKey",
        "name": "key",
        "in": "header"
      },
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://api.os.uk/oauth2/token/v1",
            "scopes": {}
          }
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "A tracing identifier for the error.",
            "minimum": 8,
            "maximum": 8
          },
          "msg": {
            "type": "string",
            "description": "A description of the error that occurred."
          }
        }
      },
      "LandingPageResponse": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          }
        }
      },
      "Link": {
        "type": "object",
        "properties": {
          "href": {
            "type": "string",
            "format": "url"
          },
          "rel": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "title": {
            "type": "string"
          }
        }
      },
      "ConformanceResponse": {
        "type": "object",
        "properties": {
          "conformsTo": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "CollectionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "crs": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "http://www.opengis.net/def/crs/OGC/1.3/CRS84"
              ]
            }
          },
          "itemType": {
            "type": "string"
          },
          "extent": {
            "$ref": "#/components/schemas/Extent"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          }
        }
      },
      "CollectionsResponse": {
        "type": "object",
        "properties": {
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          },
          "crs": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "http://www.opengis.net/def/crs/OGC/1.3/CRS84"
              ]
            }
          },
          "collections": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CollectionResponse"
            }
          }
        }
      },
      "Extent": {
        "type": "object",
        "properties": {
          "spatial": {
            "$ref": "#/components/schemas/SpatialExtent"
          },
          "temporal": {
            "$ref": "#/components/schemas/TemporalExtent"
          }
        }
      },
      "SpatialExtent": {
        "type": "object",
        "properties": {
          "bbox": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "number",
                "format": "double"
              }
            }
          },
          "crs": {
            "type": "string"
          }
        }
      },
      "TemporalExtent": {
        "type": "object",
        "properties": {
          "interval": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "trs": {
            "type": "string"
          }
        }
      },
      "Queryable": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "format": {
            "type": "string"
          },
          "maxLength": {
            "type": "integer",
            "format": "int32"
          },
          "pattern": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "hierarchy": {
            "type": "string"
          },
          "parent": {
            "type": "string"
          },
          "child": {
            "type": "string"
          },
          "minItems": {
            "type": "integer",
            "format": "int32"
          },
          "maxItems": {
            "type": "integer",
            "format": "int32"
          },
          "items": {
            "$ref": "#/components/schemas/Queryable"
          },
          "enum": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "QueryablesResponse": {
        "type": "object",
        "properties": {
          "$schema": {
            "type": "string"
          },
          "$id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "properties": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/Queryable"
            }
          }
        }
      },
      "Coordinate": {
        "type": "object",
        "properties": {
          "x": {
            "type": "number",
            "format": "double"
          },
          "y": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "Feature": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "geometry": {
            "$ref": "#/components/schemas/Geometry"
          },
          "properties": {
            "type": "object",
            "additionalProperties": {
              "type": "object"
            }
          }
        }
      },
      "FeatureCollectionResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          },
          "timeStamp": {
            "type": "string",
            "format": "date-time"
          },
          "features": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Feature"
            }
          }
        }
      },
      "Geometry": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "coordinates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Coordinate"
            }
          }
        }
      },
      "Type": {
        "type": "object"
      },
      "Timeseries": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "TimeSeries"
          },
          "ts": {
            "type": "string",
            "format": "date-time",
            "example": "2023-01-01T00:00:00Z"
          },
          "properties": {
            "type": "object",
            "example": {
              "clientRef": "ABC123"
            }
          },
          "data": {
            "type": "object",
            "example": {
              "temperature": 20.5,
              "humidity": 65,
              "status": "OK"
            }
          }
        }
      },
      "TimeseriesCollectionResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "TimeseriesCollection"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          },
          "features": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Timeseries"
            }
          }
        }
      }
    }
  }
}
